* {
  font-family: "Poiret One", cursive;
  box-sizing: border-box;
}

#titleIntro {
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  margin-bottom: 0%;
  padding-bottom: 0%;
}
#myVideo {
  position: relative;
  min-width: 100%;
  max-height: 35%;
  z-index: 0;
}

#smallR {
  font-size: 3rem;
  position: inherit;
}

.centered {
  font-family: "Poiret One", cursive;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translate(-50%, -100%);
  color: aliceblue;
  text-shadow: 5px 5px darkred;
  line-height: 100px;
  font-weight: bolder;
  font-size: 12rem;
  z-index: +1;
  margin: 0%;
}

#titleIntro {
  margin: none;
  padding: none;
  z-index: -2;
  background-color: black;
}
#intro {
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  opacity: 20%;
  margin: 0;
  padding: 20px;
  opacity: 90%;
  text-shadow: 1.5px 1.5px darkred;
  z-index: +1;
  margin-bottom: 10px;
  position: relative;
  top: -80px;
  line-height: 20px;
}

#searchBand {
  font-weight: bolder;
  color: royalblue;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

#ticketMaster,
#youtube {
  border-radius: 15px;
}
.david,
.sam {
  border: 1px solid white; /* for reference to display search data need to take out after API info is linked and displayed */
  width: 50%;
  height: 400px;
  display: inline;
  border-radius: 20%;
  margin: 10px;
}

#picture1,
#name1,
#date1 {
  display: inline;
  width: 100px;
  /* border: 1px solid black; */
  font-family: "Poiret One", cursive;
}

#details {
  font-size: 2rem;
  text-shadow: 2px 2px darkred;
  color: white;
  font-weight: bolder;
  line-height: none;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
  position: relative;
}

#btnSearch,
#btn1 {
  font-weight: bolder;
  text-shadow: 1px 1px navy;
  border-radius: 5px;
  color: aliceblue;
}

#btnSearch:hover,
#btn1:hover {
  transform: scale(1.05);
  background-color: coral;
  font-weight: bolder;
  color: aliceblue;
}

#endNote {
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  color: royalblue;
  font-weight: bolder;
  position: fixed;
  bottom: 1px;
}

@media only screen and (max-width: 800px) {
  .centered {
    font-size: 4rem;
    display: inline;
    line-height: 30px;
    position: absolute;
    top: 10px;
  }
  #smallR {
    font-size: 0.75rem;
  }

  #details {
    font-size: 1rem;
  }

  #intro {
    font-size: 0.5rem;
    line-height: 15px;
    top: 0px;
  }
  #APIdata {
    display: block;
  }
}

@media only screen and (max-width: 1120px) {
  .centered {
    font-size: 8rem;
    display: inline;
    line-height: 70px;
    position: absolute;
    top: 400px;
  }
  #smallR {
    font-size: 1.5rem;
  }

  #details {
    font-size: 1rem;
  }

  #intro {
    font-size: 1.5rem;
    line-height: 25px;
    top: -20px;
  }
  #APIdata {
    display: block;
  }
}

@media only screen and (max-width: 650px) {
  .centered {
    font-size: 4rem;
    display: inline;
    line-height: 50px;
    position: absolute;
    top: 250px;
  }
  #smallR {
    font-size: 1.5rem;
  }

  #details {
    font-size: 0.5rem;
  }

  #intro {
    font-size: 1rem;
    line-height: 25px;
    top: -20px;
  }
  #APIdata {
    display: block;
  }
}

@media only screen and (max-width: 414px) {
  .centered {
    font-size: 4rem;
    display: inline;
    line-height: 50px;
    position: absolute;
    top: 200px;
  }
  #smallR {
    font-size: 1.5rem;
  }

  #details {
    font-size: 0.75rem;
  }

  #intro {
    font-size: 1rem;
    line-height: 25px;
    top: 0px;
  }
  #APIdata {
    display: block;
  }
}

/* Sam CSS Addons */
.logo {
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: none;
}

.youtube-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
}

.youtube-section {
  margin: none;
  top: 50px;
}

article {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid #fff;
  border-radius: 8px;
}

article:hover {
  border: 2px solid #ff9999;
}

.details {
  padding: 8px 22px;
}

.thumb {
  height: 70px;
  border-radius: 4px;
}

@mixin font-base {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
}

h4 {
  @include font-base;
}

p {
  @include font-base;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.playlist {
  padding: 70px 18px 10px;
}
