* {
  font-family: "Poiret One", cursive;
}

#container {
  position: relative;
  align-items: center;
  text-align: center;
}

.centered {
  font-family: "Poiret One", cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: aliceblue;
  padding: 20px;
  text-shadow: 5px 5px darkred;
  line-height: 50px;
  font-weight: bolder;
  font-size: 6rem;
}

#concertImg {
  max-width: 100%;
}

#textInput {
  width: 50%;
}

.david,
.sam {
  border: 1px solid black;
  width: 50%;
  height: 400px;
  display: inline;
}

#details {
  font-size: 2rem;
  padding: 0;
  line-height: 0;
  text-shadow: 1px 1px white;
  color: navy;
  font-weight: bolder;
  line-height: 60px;
  align-items: center;
  text-align: center;
}
