* {
  font-family: "Poiret One", cursive;
}

#container {
  position: relative;
  align-items: center;
  text-align: center;
}

.centered {
  font-family: "Poiret One", cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: aliceblue;
  padding: 20px;
  text-shadow: 5px 5px darkred;
  line-height: 50px;
  font-weight: bolder;
  font-size: 6rem;
}

#concertImg {
  max-width: 100%;
}

#intro {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  line-height: 40px;
  color: whitesmoke;
  background-color: rgb(161, 160, 160);
  margin: 0;
  padding: 10px;
  opacity: 90%;
  text-shadow: 1px 1px navy;
}

#searchBand {
  font-weight: bolder;
  color: royalblue;
  font-size: 1.5rem;
  text-align: center;
  align-items: center;
}

#ticketMaster,
#youtube {
  border-radius: 15px;
}
.david,
.sam {
  border: 1px solid royalblue;
  width: 50%;
  height: 400px;
  display: inline;
  border-radius: 20%;
  margin: 10px;
}

#details {
  font-size: 2rem;
  padding: 0;
  line-height: 0;
  text-shadow: 1px 1px white;
  color: navy;
  font-weight: bolder;
  line-height: 60px;
  align-items: center;
  text-align: center;
  margin: 0;
}

#btnSearch {
  font-weight: bolder;
  text-shadow: 1px 1px navy;
  border-radius: 5px;
}

#btnSearch:hover {
  transform: scale(1.15);
  background-color: coral;
  font-weight: bolder;
}
